@use "../variable/colors" as clr;

.AboutSection {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    padding-top: 5rem;
    background-color: clr.$bg-color;
    color: clr.$primary-text-color;
    align-items: center;


    .my-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
    }

    .skills-icon {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 2rem;
        column-gap: 3rem;

        .icon {
            background-color: clr.$slate;
            padding: 0.2rem;
            border-radius: 0.5rem;
            border: 1px solid clr.$primary-text-color;
            box-shadow: 0 0 1rem 0 clr.$slate;

        }
    }

    .about-img {
        animation: move-up-down 4s ease infinite;
    }

    .about-wrapper {
        display: flex;
        align-items: center;

        h1 {
            font-size: clamp(1.5rem, 5vw, 3rem);
        }
    }
}

@keyframes move-up-down {

    25% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }

}

.AboutSection p:first-of-type {
    margin-top: 2rem;
}

.AboutSection .my-img {
    position: relative;
}

.AboutSection .my-img img {
    margin: 3.5rem 0 0 1rem;
    height: auto;

    border-radius: 10px;
}

.AboutSection .my-details {
    margin: 2rem 0;
    display: flex;
    padding: 1rem;
    border-left: 2px solid clr.$primary-blue;

}

.AboutSection .about-me-value {
    padding-left: 2rem;
    color: clr.$slate;
}

// .AboutSection .skills-list {
//     list-style-type: none;
//     color: clr.$slate;

// }

// .AboutSection li::before {
//     content: "▸";
//     color: clr.$primary-blue;
//     font-weight: bold;
//     display: inline-block;
//     width: 1em;
// }