@use "../variable/colors" as clr;

.AboutSection {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    padding-top: 10rem;
    background-color: clr.$bg-color;
    color: clr.$primary-text-color;
    align-items: center;

    .my-details-wrapper {
        display: flex;
        gap: 5rem;
        align-items: center;
    }

    .about-img {
        animation: move-up-down 4s ease infinite;
    }
}

@keyframes move-up-down {

    25% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }

}

.AboutSection p:first-of-type {
    margin-top: 2rem;
}

.AboutSection .my-img {
    position: relative;
}

.AboutSection .my-img img {
    margin: 3.5rem 0 0 1rem;
    height: 25vw;
    width: 25vw;
    border-radius: 10px;
}

.AboutSection .my-details {
    margin: 2rem 0;
    display: flex;
    padding: 1rem;
    border-left: 2px solid clr.$primary-blue;

}

.AboutSection .about-me-value {
    padding-left: 2rem;
    color: clr.$slate;
}

.AboutSection ul {
    list-style-type: none;
    color: clr.$slate;
}

.AboutSection li::before {
    content: "▸";
    color: clr.$primary-blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}