.hero {
    min-height: 80vh;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .hero-text {

        display: flex;

        justify-content: center;
        flex-direction: column;


        P {
            font-size: 1.1rem;
        }

        h1 {
            font-size: 3rem;
        }

        .button-wrapper {
            display: flex;
            gap: 1rem;
        }
    }

    .hero-img {
        display: flex;
        justify-content: flex-end;
    }
}