@use "../variable/colors" as clr;

.ProjectSection {
    background-color: clr.$bg-color;
    color: clr.$primary-text-color;
    padding-top: 10rem;

    .ProjectSection-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }

    h1 {
        font-size: clamp(1.5rem, 5vw, 3rem);
        text-align: center;
    }

    .CardList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        row-gap: 4rem;
    }

}