.ProjectSection {
    background-color: black;
    color: white;


    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}