@use "../variable/colors" as clr;

.ProjectSection {
    background-color: clr.$bg-color;
    color: clr.$primary-text-color;


    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        row-gap: 4rem;
    }

}