@use "../variable/colors" as clr;

@media only screen and (max-width:930px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .hero-text {
            align-items: center;
            gap: 1rem;
        }

        .hero-img {
            grid-row-start: 1;
            grid-row-end: 2;
        }


    }

    .hero-img {
        display: flex;
        justify-content: center !important;
        align-items: center;

    }

    .AboutSection {
        .my-details-wrapper {
            flex-direction: column;
            gap: 2rem;
        }
    }

    .ProjectSection .CardList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:800px) {
    nav {
        flex-direction: column;
        position: relative;

        .logo {
            padding: 0 1rem;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .ham {
            display: block;
        }

        .nav-links {
            display: none;
            top: 7rem;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            background-color: clr.$slate;


            a {
                width: 100vw;
                text-align: center;
            }
        }
    }

    .active {
        display: block !important;
    }
}

@media only screen and (max-width:600px) {
    .ProjectSection .CardList {
        grid-template-columns: repeat(1, 1fr);

        .card {
            max-width: 450px;
            width: 100%;
            margin: 0 auto;
        }
    }


}