$bg-color: #1d1927;
$primary-text-color: white;
$primary-heading-color: white;
$primary-blue: #00cfa0;
$accent-bg: #003948;
$slate: #b0cbd2;


// $bg-color: #071036;
// $primary-blue: #03ddff;
// $accent-bg: rgb(4, 54, 43);
// $slate: #8892b0;