/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

::-moz-selection {
  color: #00cfa0;
  background-color: black;
}

::selection {
  color: #00cfa0;
  background-color: black;
}

body {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.7;
  font-size: 1.2rem;
  background-color: #1d1927;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  display: inline-block;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p {
  max-width: 40rem;
  color: #8892b0;
}

.container {
  max-width: 78rem;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.text-green {
  color: #00cfa0;
}

.button {
  background-color: #1d1927;
  color: white;
  border: 2px solid white;
  padding: 0.5em 3em;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  position: relative;
  transition: 400ms ease;
  background-size: 400%;
  background-position: right;
  background-image: linear-gradient(90deg, #00cfa0 50%, #1d1927 50%);
}

.button:hover {
  color: black;
  border: 2px solid #00cfa0;
  background-position: left;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgb(4, 54, 43);
  border-radius: 10px;
  transition: 300ms ease;
}
.card .card-img img {
  border-radius: 10px 10px 0 0;
}
.card .card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  justify-content: space-around;
}
.card .card-text .card-labels {
  display: flex;
  justify-content: space-evenly;
}
.card .card-text code {
  background-color: rgba(255, 255, 255, 0.247);
  padding: 0.3em;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.219);
}
.card .card-text .card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card .card-text a {
  color: #00cfa0;
}

.card:hover {
  transform: scale(1.025);
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1927;
  color: white;
}
nav .logo {
  font-size: 3rem;
  color: #00cfa0;
}
nav .ham {
  width: 3rem;
  display: none;
  cursor: pointer;
}
nav .ham-item {
  background-color: #8892b0;
  margin: 0.5rem 0;
  width: 3rem;
  height: 5px;
}
nav .nav-links {
  display: flex;
}
nav .nav-links a {
  padding: 0.5em 1em;
  font-size: 1.1rem;
  color: white;
  transition: 400ms ease;
}
nav .nav-links a:hover:not(.button) {
  background-color: black;
  color: #00cfa0;
}
nav .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .icons a:hover svg {
  fill: #00cfa0;
  transition: 300ms ease;
}
nav .icons svg {
  height: 2rem;
}

.hero {
  min-height: 80vh;
  background-color: #1d1927;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero .hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-text P {
  font-size: 1.1rem;
}
.hero .hero-text h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
.hero .hero-text .button-wrapper {
  display: flex;
  gap: 1rem;
}
.hero .hero-img {
  display: flex;
  justify-content: flex-end;
}

.AboutSection {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding-top: 5rem;
  background-color: #1d1927;
  color: white;
  align-items: center;
}
.AboutSection .my-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.AboutSection .skills-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.AboutSection .skills-icon .icon {
  background-color: #8892b0;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  box-shadow: 0 0 1rem 0 #8892b0;
}
.AboutSection .about-img {
  -webkit-animation: move-up-down 4s ease infinite;
          animation: move-up-down 4s ease infinite;
}
.AboutSection .about-wrapper {
  display: flex;
  align-items: center;
}
.AboutSection .about-wrapper h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

@-webkit-keyframes move-up-down {
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes move-up-down {
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.AboutSection p:first-of-type {
  margin-top: 2rem;
}

.AboutSection .my-img {
  position: relative;
}

.AboutSection .my-img img {
  margin: 3.5rem 0 0 1rem;
  height: auto;
  border-radius: 10px;
}

.AboutSection .my-details {
  margin: 2rem 0;
  display: flex;
  padding: 1rem;
  border-left: 2px solid #00cfa0;
}

.AboutSection .about-me-value {
  padding-left: 2rem;
  color: #8892b0;
}

.ProjectSection {
  background-color: #1d1927;
  color: white;
  padding-top: 10rem;
}
.ProjectSection .ProjectSection-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.ProjectSection h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
}
.ProjectSection .CardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 4rem;
}

.ContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  margin-bottom: 10rem;
  background-color: #1d1927;
  color: white;
}

.ContactSection > div {
  max-width: 36.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.ContactSection h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.ContactSection h1,
.ContactSection .form-para {
  text-align: center;
  margin: 0.3rem;
}

.ContactSection .mid-heading::after {
  display: none;
}

.form > div {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.form {
  width: 90%;
}

.form label {
  padding-bottom: 0.3rem;
}

.form input,
.form textarea {
  border-radius: 10px;
  text-indent: 1rem;
  outline: none;
  background-color: transparent;
  border: 2px solid #8892b0;
  color: #e6f1ff;
  font-size: 1.1rem;
  font-weight: 500;
}

.form input:focus,
.form textarea:focus {
  border: 2px solid #64ffda;
}

.form input {
  height: 3rem;
  max-width: 100%;
}

.form textarea {
  padding: 1.5rem;
}

@media only screen and (max-width: 930px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .hero .hero-text {
    align-items: center;
    gap: 1rem;
  }
  .hero .hero-img {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .hero-img {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }
  .AboutSection .my-details-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .ProjectSection .CardList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  nav .logo {
    padding: 0 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .ham {
    display: block;
  }
  nav .nav-links {
    display: none;
    top: 5rem;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    z-index: 1;
    background-color: rgb(4, 54, 43);
  }
  nav .nav-links a {
    width: 100vw;
    padding: auto 1em;
    text-align: center;
    border: 1px solid white;
  }
  .active {
    display: block !important;
  }
}
@media only screen and (max-width: 600px) {
  .hero .button {
    padding: 0.5em 2em;
  }
  .AboutSection .about-me-value {
    padding-left: 1rem;
  }
  .AboutSection .my-details {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .AboutSection .skills-icon {
    grid-template-columns: repeat(3, 1fr);
  }
  .ProjectSection .CardList {
    grid-template-columns: repeat(1, 1fr);
  }
  .ProjectSection .CardList .card {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}