.button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 0.5em 1em;
    font-size: 1.1rem;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    transition: 300ms ease;

}

.button:hover {
    color: rgb(3, 221, 255);
    border: 2px solid rgb(3, 221, 255);
}