@use "../variable/colors" as clr;

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    border-radius: 0px;
    background: clr.$bg-color;
    box-shadow: -12px -12px 24px #100e15,
        12px 12px 24px #2a2439;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: clr.$bg-color;
    color: clr.$primary-text-color;


    .logo {
        font-size: 3rem;
        color: clr.$primary-blue;
    }

    .ham {
        display: none;

    }

    .nav-links {
        display: flex;


        a {
            padding: 0.5em 1em;
            font-size: 1.1rem;
            color: clr.$white;
            transition: 400ms ease;
        }

        a:hover:not(.button) {
            background-color: clr.$black;
            color: clr.$primary-blue
        }

    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        a:hover svg {
            fill: clr.$primary-blue;
            transition: 300ms ease;
        }

        svg {
            height: 2rem;
        }
    }
}