@use "../variable/colors" as clr;

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: clr.$bg-color;
    color: clr.$primary-text-color;


    .logo {
        font-size: 3rem;
        color: clr.$primary-blue;
    }

    .ham {
        width: 3rem;
        display: none;
        cursor: pointer;
    }

    .ham-item {
        background-color: clr.$slate;
        margin: 0.5rem 0;
        width: 3rem;
        height: 5px;

    }

    .nav-links {
        display: flex;


        a {
            padding: 0.5em 1em;
            font-size: 1.1rem;
            // background-color: rgb(244, 216, 216);
            color: white;
            transition: 400ms ease;
        }

        a:hover:not(.button) {
            background-color: black;
            color: clr.$primary-blue
        }

    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        a:hover svg {
            fill: clr.$primary-blue;
            transition: 300ms ease;
        }

        svg {
            height: 2rem;
        }
    }
}